.elem-field {
  border-color: #e6e6e6 !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  border-style: solid !important;
}
.elem-field legend {
  margin-left: 20px !important;
  padding: 0 10px !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.field-title {
  margin: 10px 0 20px !important;
  border-width: 1px 0 0 !important;
}
.timeline {
  padding-left: 5px !important;
}
.timeline-item {
  position: relative !important;
  list-style: none !important;
  padding-bottom: 5px !important;
}
.timeline-item:first-child::before {
  display: block !important;
}
.timeline-item:last-child::before {
  display: none !important;
}
.timeline-item::before {
  content: '' !important;
  position: absolute !important;
  left: 4px !important;
  top: 0 !important;
  z-index: 0 !important;
  width: 2px !important;
  height: 100% !important;
}
.timeline-item::before, hr {
  background-color: #e6e6e6 !important;
}
.timeline-axis {
  position: absolute !important;
  left: -5px !important;
  top: 0 !important;
  z-index: 10 !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  background-color: #fff !important;
  color: #2196f3 !important;
  border-radius: 50% !important;
  text-align: center !important;
}
.timeline-icon {
  font-family: timeline-icon;
  font-size: 16px !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.timeline-title {
  position: relative !important;
  margin-bottom: 10px !important;
}
.timeline-content {
  padding-left: 25px !important;
}
.timeline-content-text {
  line-height: 22px !important;
  font-size: 14px !important;
  color: #666 !important;
}
